<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Web</title>
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <!--Estructura básica de una página web-->
    <header>
        <h1>Encabezado de la Página Web</h1>
    </header>
    <nav>
        <a href="" class="activo">Inicio</a>
        <a href="https://developer.mozilla.org/es/docs/Learn/HTML/Tablas/Conceptos_b%C3%A1sicos_de_las_tablas_HTML">Tablas</a>
        <a href="#">Links</a>
    </nav>
    <main>
        <section>
            <img src="section.png" alt="section" width="400px">
            <article>
                <h4>Article 1</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur corporis soluta, atque eveniet
                    recusandae facere repellat eos voluptatibus aperiam deserunt placeat inventore, sit aliquam nobis,
                    aspernatur perspiciatis saepe non tenetur!</p>
                <h4>Article 2</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur corporis soluta, atque eveniet
                    recusandae facere repellat eos voluptatibus aperiam deserunt placeat inventore, sit aliquam nobis,
                    aspernatur perspiciatis saepe non tenetur!</p>
            </article>
        </section>
        <aside>
            <form action="#">
                <input type="search" placeholder="Buscar...">
                <button type="submit">Buscar</button>
            </form>
            <img src="avatar.png" alt="avatar" width="100px">
            <h4>Profile</h4>
            <p>Ing. Héctor</p>
        </aside>
    </main>
    <footer>
        <a href="">@ProfessorBta</a>
    </footer>
</body>

</html>